body {
    margin: 0;
}

#banner {
    background-image: url("images/Image\ 1.jpeg");
    background-size: cover;
    background-position: center ;
    width: 100vw;
    text-align: center;
    color:white;
    font-family: 'Fugaz One', cursive;
    padding: 200px 0;
}

a{
    color:white;
    text-decoration: none;

}
h1 {
    font-size: 50px;
    /* text-shadow: 0 0 10px rgba(30, 30, 30, 0.5); */
}

video {
    width: 100vw;
    margin-bottom: -5px;
}

.box {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
}

.flex {
    display: flex;
}


#banner2 {
    background-image: url(images/Image\ 5.jpeg);
    background-size: cover;
    width: 50vw;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 100px 0;
    /* text-shadow: 0 0 10px rgba(30, 30, 30, 0.5); */
}


#banner3 {
    background-image: url(images/Image\ 6.jpeg);
    background-size: cover;
    width: 50vw;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 100px 0;
    /* text-shadow: 0 0 90px rgba(60, 60, 60, 1.5); */
}

.box2 {
    padding: 50px 50px;
}

.flex {
    display: flex;
}

.box3 {
    padding: 50px 50px;
}

#banner4 {
    background-image: url(images/Image\ 3.jpeg);
    background-size: cover;
    width: 50vw;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 100px 0;
    /* text-shadow: 0 0 10px rgba(30, 30, 30, 0.5); */
}

#banner5 {
    background-image: url(images/violette-de-toulouse.jpeg);
    background-size: cover;
    width: 50vw;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 100px 0;
    /* text-shadow: 0 0 10px rgba(30, 30, 30, 0.5); */
}

.box4 {
    padding: 50px 50px;
}

.flex {
    display: flex;
}

#banner6 {
    background-image: url(images/Image\ 4.jpeg);
    background-size: cover;
    width: 50vw;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 100px 0;
    /* text-shadow: 0 0 10px rgba(30, 30, 30, 0.5); */
}

#banner7 {
    background-image: url(images/TFC.jpg);
    background-size: cover;
    width: 50vw;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 100px 0;
    /* text-shadow: 0 0 10px rgba(30, 30, 30, 0.5); */
}

.box5 {
    padding: 50px 50px;
}

#banner8 {
    background-image: url(images/Les\ Carmes-Esquirol\ -\ 31555\ -\ 300180--.jpg);
    background-size: cover;
    width: 50vw;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 100px 0;
    /* text-shadow: 0 0 10px rgba(30, 30, 30, 0.5); */
}

#banner9 {
    background-image: url(images/région.jpg);
    background-size: cover;
    width: 50vw;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 100px 0;
    /* text-shadow: 0 0 100px rgba(30, 30, 30, 0.5); */
}

.box6 {
    padding: 0px 0px;
    font-family: 'Fugaz One', cursive;
    text-align: left;
    font-size: 20px;
    color: deeppink;
    margin-top: 10%;
}

.grid {
    display: grid;
    size-adjust: 100%;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    grid-gap: 5px;
}

.margin-0 {
    margin: 0 !important;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.relative {
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.absolute {
    position: absolute;
    bottom: -40px;
}
.absolute-quartier {
    position: absolute;
    top: 20px;
}


#portrait1 {
    background-image: url(images/Claude\ Nougaro.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

#portrait2 {
    background-image: url(images/Tina\ Kunake.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

#portrait3 {
    background-image: url(images/Michel\ Sarran.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

#portrait4 {
    background-image: url(images/Big\ Flo\ et\ Oli.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

#portrait5 {
    background-image: url(images/Jean\ Luc\ Reichman.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

#portrait6 {
    background-image: url(images/DJILSI.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

.grid0 {
    display: grid;
    size-adjust: 100%;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    grid-gap: 5px;
}

#portrait21 {
    background-image: url(images/DJILSI.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

#portrait22 {
    background-image: url(images/Jean\ Luc\ Reichman.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

#portrait23 {
    background-image: url(images/ririna.JPG);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

#portrait24 {
    background-image: url(images/jain-header.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

.box7 {
    padding: 100px 100px;
}

.box8 {
    padding: 60px 60px;
    background-color: deeppink;
}

.box8 {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
    color: white;
}

#bannerviolette {
    background-image: url("images/banner2violette.jpg");
    background-size: cover;
    background-position: center ;
    width: 100vw;
    height: 2vw;
    text-align: center;
    color:white;
    font-family: 'Fugaz One', cursive;
    padding: 200px 0;
}

.boxviolette {
    background-color: plum;
    margin-left: 200px;
    margin-right: 200px;
}

.boxviolette {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
    color: white;
}

.boxfin {
    padding: 50px 50px;
}

.boxfin23 {
    padding: 50px 50px;
    background-color: deeppink;

}

.boxfin23 {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
    color: white;

}

#bannerstade {
    background-image: url("images/bannerstade.jpg");
    background-size: cover;
    background-position: center ;
    width: 100vw;
    height: 2vw;
    text-align: center;
    color: white;
    font-family: 'Fugaz One', cursive;
    padding: 200px 0;
}

.boxstade {
    background-color: black;
    margin-left: 200px;
    margin-right: 200px;
}

.boxstade {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
    color: red;
}

.boxfin {
    padding: 50px 50px;
}

.boxfin23 {
    padding: 50px 50px;
    background-color: deeppink;

}

.boxfin23 {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
    color: white;

}

#bannermusée {
    background-image: url("images/Augustins---D.-Martin.jpg");
    background-size: cover;
    background-position: center ;
    width: 100vw;
    height: 2vw;
    text-align: center;
    color: white;
    font-family: 'Fugaz One', cursive;
    padding: 200px 0;
}

.boxmusée {
    background-color: rgb(226, 176, 84);
    margin-left: 200px;
    margin-right: 200px;
}

.boxmusée {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
    color: red;
}

.boxfin {
    padding: 50px 50px;
}

.boxfin23 {
    padding: 50px 50px;
    background-color: deeppink;

}

.boxfin23 {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
    color: white;

}

#bannerairbus {
    background-image: url("images/bannerairbus.jpg");
    background-size: cover;
    background-position: center ;
    width: 100vw;
    height: 2vw;
    text-align: center;
    color: white;
    font-family: 'Fugaz One', cursive;
    padding: 200px 0;
}

.boxairbus {
    background-color: lightblue;
    margin-left: 200px;
    margin-right: 200px;
}

.boxairbus {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
    color: red;
}

.boxfin {
    padding: 50px 50px;
}

.boxfin23 {
    padding: 50px 50px;
    background-color: deeppink;

}

.boxfin23 {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
    color: white;

}

#bannermusée {
    background-image: url("images/Augustins---D.-Martin.jpg");
    background-size: cover;
    background-position: center ;
    width: 100vw;
    height: 2vw;
    text-align: center;
    color: white;
    font-family: 'Fugaz One', cursive;
    padding: 200px 0;
}

.boxmusée {
    background-color: rgb(226, 176, 84);
    margin-left: 200px;
    margin-right: 200px;
}

.boxmusée {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
    color: red;
}

.boxfin {
    padding: 50px 50px;
}

.boxfin23 {
    padding: 50px 50px;
    background-color: deeppink;

}

.boxfin23 {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
    color: white;

}

#bannercathé {
    background-image: url("images/bannercathé.jpg");
    background-size: cover;
    background-position: center ;
    width: 100vw;
    height: 2vw;
    text-align: center;
    color: white;
    font-family: 'Fugaz One', cursive;
    padding: 200px 0;
}


.boxcathé {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
    color: red;
}

.boxfin {
    padding: 50px 50px;
}

.boxfin23 {
    padding: 50px 50px;
    background-color: deeppink;

}

.boxfin23 {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
    color: white;

}

.gridcathé {
    display: grid;
    size-adjust: 100%;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    grid-gap: 5px;
}

#stmichel {
    background-image: url(images/PCU-Toulouse-Nom--9--3.jpg);
}

#stsernin {
    background-image: url(images/Visiter-Toulouse-basilique-Saint-Sernin.jpg);
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.relative {
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.absolute {
    position: absolute;
    bottom: -40px;
}

#bannertfc {
    background-image: url("images/bannertfc.jpg");
    background-size: cover;
    background-position: center ;
    width: 100vw;
    height: 2vw;
    text-align: center;
    color: white;
    font-family: 'Fugaz One', cursive;
    padding: 200px 0;
}

.boxtfc {
    background-color: rgb(78, 11, 112);
    margin-left: 200px;
    margin-right: 200px;
}

.boxtfc {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
    color: red;
}

.boxfin {
    padding: 50px 50px;
}

.boxfin23 {
    padding: 50px 50px;
    background-color: deeppink;

}

.boxfin23 {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
    color: white;

}

#bannerquartiers {
    background-image: url("images/show.jpg");
    background-size: cover;
    background-position: center ;
    width: 100vw;
    height: 2vw;
    text-align: center;
    color: white;
    font-family: 'Fugaz One', cursive;
    padding: 200px 0;
}

.grid {
    display: grid;
    size-adjust: 100%;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    grid-gap: 5px;
    font-family: 'Fugaz One', cursive;
}

.boxfin {
    padding: 50px 50px;
}

.boxfin23 {
    padding: 50px 50px;
    background-color: deeppink;

}

.boxfin23 {
    padding: 50px 50px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    line-height: 1.55;
    color: white;

}

#portrait1 {
    background-image: url(images/Claude\ Nougaro.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

#capitole {
    background-image: url(Toulouse_capitole_bis.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
    font-family: 'Fugaz One', cursive;
    color: white;
        /* text-shadow: 0 0 10px rgba(30, 30, 30, 0.5); */

}

#esquirol {
    background-image: url(images/esquirol.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
    font-family: 'Fugaz One', cursive;
    color: white;
}

#carmes {
    background-image: url(images/carmes.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
    font-family: 'Fugaz One', cursive;
    color: white;
}

#compans{
    background-image: url(images/compans.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
    font-family: 'Fugaz One', cursive;
    color: white;
    /* text-shadow: 0 0 10px rgba(30, 30, 30, 0.5); */

}

#cotepavé{
    background-image: url(images/cote\ pavé.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
    font-family: 'Fugaz One', cursive;
    color: white;
}


.grid {
    display: grid;
    size-adjust: 100%;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    grid-gap: 5px;
}

#mapscapitole{
    background-image: url(mapscapitole.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

#mapsesquirol{
    background-image: url(mapsesquirol.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

#mapscarmes{
    background-image: url(mapscarmes.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

#mapscompans{
    background-image: url(mapscarmes.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

#mapspavé{
    background-image: url(mapscotepavé.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

